body {
}
/* CONTENTS
---------------
1) Common
-----------------*/
/* 1) Common
-----------------*/
#firstpage
.km-content
{
    background:#FA9A50;
}
.txtLarge {
    width: 100% !important;
    padding: 0 1em;    
}
.logo{
    width: 30% !important;
    height: auto;
}
.position-right{
    float: right;
}

.km-nova .button-group .km-button.primary 
{
   background:#FF6103;
    color:#000;
}

.km-nova .button-group .km-button.secondary
{
     background:#fff;
    color:#000;
}

