<div data-role="view" data-title="Home View" data-layout="main" data-model="app.home" data-show="app.home.onShow" data-after-show="app.home.afterShow">
    <div id="homeModel" class="form-view">
        <form>
            <ul class="form-content" data-role="listview" data-style="inset">
                <li class="form-content-item">


                    <div class="km-label-above imageListItem">

                        <div class="align-center"><img src="resources/padnasLogo.png" class="logo"></div>
                    </div>
                </li>
                <li class="form-content-item">


                    <label class="km-label-above km-label-hidden">

                        &nbsp;

                        <input data-bind="value: homeModel.fields.textField" placeholder="EMail@padnas.com" type="email">
                    </label>

                </li>
                <li class="form-content-item">


                    <label class="km-label-above km-label-hidden">

                        &nbsp;

                        <input data-bind="value: homeModel.fields.txtPassword" placeholder="Password" type="password">
                    </label>

                </li>
                <li>
                    <div class="editableListItem">

                        <div>

                            <a href="#" onclick="app.openLink('https://www.padnas.com/forgotPassword.html');" class="link">Forgot Password?</a>

                        </div>
                    </div>
                </li>
            </ul>

            <div class="button-group">
                <a class="primary" data-role="button" data-bind="events: { click: homeModel.submit }">Login</a>
            </div>
        </form>
        <!-- START_CUSTOM_CODE_homeModel -->
        <!-- Add custom code here. For more information about custom code, see http://docs.telerik.com/platform/screenbuilder/troubleshooting/how-to-keep-custom-code-changes -->

        <!-- END_CUSTOM_CODE_homeModel -->
    </div>

    <!-- START_CUSTOM_CODE_home -->
    <!-- Add custom code here. For more information about custom code, see http://docs.telerik.com/platform/screenbuilder/troubleshooting/how-to-keep-custom-code-changes -->

    <!-- END_CUSTOM_CODE_home -->
</div>