<div data-role="view" data-title="Authentication" data-layout="main-nonav" data-model="app.authenticationView" data-show="app.authenticationView.onShow" data-after-show="app.authenticationView.afterShow">
    <div class="signin-view">
        <form>
            <br/><br/><br/><br/><br/><br/><br/>
            <ul data-role="listview" data-style="inset">
                <li class="form-content-item">
                    <div class="km-label-above imageListItem">
                        <div class="align-center"><img src="resources/padnasLogo.png" class="logo"></div>
                    </div>
                </li>
                <li> 
                    <label class="km-label-above km-label-hidden">
                        &nbsp;
                        <input type="email" placeholder="EMail@padnas.com" data-bind="value: authenticationViewModel.email" required autofocus>
                    </label>
                </li>
                <li>
                    <label class="km-label-above km-label-hidden">
                        &nbsp;
                        <input type="password" placeholder="Password" data-bind="value: authenticationViewModel.password" required>
                    </label>
                </li>
            </ul>

            <div class="button-group button-group-vertical">
                <a data-role="button" class="primary" data-bind="events: { click: authenticationViewModel.signin }">Sign In</a>

                <a data-role="button" data-bind="events: { click: authenticationViewModel.toggleView }">Join now</a>

            </div>

            <span class="status" data-bind="text: authenticationViewModel.errorMessage"></span>
        </form>
    </div>
    <div class="signup-view" style="display:none;">
        <form>
            <br/><br/><br/><br/><br/><br/><br/>
            <ul data-role="listview" data-style="inset">
                 <li class="form-content-item">
                    <div class="km-label-above imageListItem">
                        <div class="align-center"><img src="resources/padnasLogo.png" class="logo"></div>
                    </div>
                </li>
                <li>
                    <label class="km-label-above km-label-hidden">
                        &nbsp;
                        <input type="email" placeholder="EMail@padnas.com" data-bind="value: authenticationViewModel.email" required>
                    </label>
                </li>
                <li>
                     <label class="km-label-above km-label-hidden">
                        &nbsp;
                        <input type="password" placeholder="Password" data-bind="value: authenticationViewModel.password">
                    </label>
                </li>
               
            </ul>
            <div class="button-group button-group-vertical">
                <a class="primary" data-role="button" data-bind="events: { click: authenticationViewModel.register }">Join now</a>
                <a data-role="button" data-bind="events: { click: authenticationViewModel.toggleView }">Sign In</a>
            </div>

            <span class="status" data-bind="text: authenticationViewModel.errorMessage"></span>
        </form>
    </div>
    <div class="offline" align="center" style="display:none;">
        You are currently offline. Before using this app in offline mode you must initialize it while you are online
    </div>
    <!-- START_CUSTOM_CODE_authenticationViewModel -->
    <!-- Add custom code here. For more information about custom code, see http://docs.telerik.com/platform/screenbuilder/troubleshooting/how-to-keep-custom-code-changes -->

    <!-- END_CUSTOM_CODE_authenticationViewModel -->

    <!-- START_CUSTOM_CODE_authenticationView -->
    <!-- Add custom code here. For more information about custom code, see http://docs.telerik.com/platform/screenbuilder/troubleshooting/how-to-keep-custom-code-changes -->

    <!-- END_CUSTOM_CODE_authenticationView -->
</div>