<div data-role="view" data-title="Photos of you" data-layout="main">
      <header data-role="header">
        <div data-role="navbar">
              <a id="back-button" class="nav-button" data-align="left" href="components/myPadnas/view.html" data-role="backbutton">Back</a>
      		  <span data-role="view-title"></span>  
              <a  class="button-icon button-save" data-role="button" data-align="right" href="components/profile/view.html"></a>
        </div>
    </header>
  
    <div id="profileView" class="form-view">
        <form>
            <ul class="form-content" data-role="listview" data-style="inset">
                <li>
                    <h1>Welcome from Padans Photo</h1>
                </li>
            </ul>

            <div class="button-group">
            </div>
        </form>
        <!-- START_CUSTOM_CODE_profileViewModel -->
        <!-- Add custom code here. For more information about custom code, see http://docs.telerik.com/platform/screenbuilder/troubleshooting/how-to-keep-custom-code-changes -->

        <!-- END_CUSTOM_CODE_profileViewModel -->
    </div>

    <!-- START_CUSTOM_CODE_profileView-->
    <!-- Add custom code here. For more information about custom code, see http://docs.telerik.com/platform/screenbuilder/troubleshooting/how-to-keep-custom-code-changes -->

    <!-- END_CUSTOM_CODE_profileView -->
</div>