<!DOCTYPE html>
<html>
<head>

</head>
<body>
<div data-role="view" id="badges-profile" data-title="Profile" data-layout="mobile-tabstrip" data-show="addTimer" data-hide="removeTimer">
    <img src="resources/Woman.png" class="km-thumbnail" style="width: 10em; height: 10em; margin: 2em auto; display: block; float: none;">
    
    <ul data-role="listview" data-style="inset" data-type="group">
        <li>Profile
            <ul>
                <li>John Sem</li>
                <li>john@padnas.com</li>
            </ul>
        </li>
        <li>
            Education 
            <ul>
                <li>B.E(IS)</li>
                <li>M.E</li>
            </ul>
        </li>
        <li>
            Company's Profile
            <ul>
                <li>Software Engineer</li>
                <li>IT Software Development and outsourcing services</li>
             
            </ul>
        </li>
        <li>
            Company's Contact 
            <ul>
                <li>+959797283742</li>
                <li>+9518610275</li>        
                <li>216/222, Bo Myat Tun Street, Suite (8F), Bo Myat Tun Housing, Pazaungdaung Township </li>
                <li>Yangon, Myanmar </li>
                <li></li>
            </ul>
        </li>
    </ul>
</div>

<div data-role="layout" data-id="mobile-tabstrip" data-show="showDemoLayout">
    <header data-role="header">
        <div data-role="navbar">
            <a id="back-button" class="nav-button" data-align="left" href="components/signInView/view.html" data-role="backbutton">Back</a>
            <span data-role="view-title"></span>
            <a data-align="right" data-role="button" class="nav-button" data-icon="edit" href="components/profile/edit.html"></a>
        </div>
    </header>
  
</div>


</body>
</html>
