
<div id="profile-view" data-role="view" id="badges-profile" data-layout="main" data-title="Profile" data-layout="mobile-tabstrip" data-show="addTimer" data-hide="removeTimer"  data-bind="events: { show: onShow, hide: onHide }" class="profile-view">
    <header data-role="header">
        <div data-role="navbar">
<!--               <a id="back-button" class="nav-button" data-align="left" href="components/profile/setting.html" data-role="backbutton"></a> -->
              <span data-role="view-title"></span>  
              <a id="get" class="button-icon button-save" data-role="button" data-align="right" href="components/profile/setting.html"></a>
             </div>
    </header>
        
       <form id="edit-profile-form">
     <ul data-role="listview" class="nav-button" data-style="inset" data-type="group">
     <img src="resources/default.jpg" height="300">       
           <li>
 		 <div class="activity-photo-upload">
                <label for="profile-activity-photo">
                    <button id="choose-file-button">
                        <span class="icon icon-photo"> </span>
                    </button>
                </label>
               <input type="file" class="k-valid" accept="image/*" id="profile-activity-photo">
            </div>
  </li>
        <li>               
            Personal Information              
            <ul>
                <li> 
                    <label class="km-label-above km-label-hidden">
                        <input data-bind="value: user.firstname" placeholder="First name" type="text">
                    </label>
                </li>
                <li>
                      <label class="km-label-above km-label-hidden">
                        <input data-bind="value: user.lastname" placeholder="Last name" type="text">
                    </label>
                </li>
                 <li>
                      <label class="km-label-above km-label-hidden">
                        <input data-bind="value: user.joindate" placeholder="Join date" type="text">
                    </label>
                </li> 
                <li>
                      <label class="km-label-above km-label-hidden">
                        <input data-bind="value: user.email" placeholder="Email" type="email">
                    </label>
                </li> 
                 <li>
                      <label class="km-label-above km-label-hidden">
                        <input data-bind="value: user.mobileph" placeholder="Cell phone" type="text">
                    </label>
                </li>  
                <li>
                      <label class="km-label-above km-label-hidden">
                        <input data-bind="value: user.currently" placeholder="Currently work" type="text">
                    </label>
                </li>
                <li>
                      <label class="km-label-above km-label-hidden">
                        <input data-bind="value: user.country" placeholder="Country" type="text">
                    </label>
                </li> 
            </ul>
        </li>
<!--         &nbsp; -->
        <li>
            Education 
            <ul>
                <li>
                      <label class="km-label-above km-label-hidden">
                        <input data-bind="value: user.school" placeholder="School" type="text">
                    </label>
                </li> 
                <li>
                      <label class="km-label-above km-label-hidden">
                        <input data-bind="value: user.degree" placeholder="Degree" type="text">
                    </label>
                </li> 
            </ul>
        </li>
        <li>
            Company's Information
            <ul>
                <li>
                      <label class="km-label-above km-label-hidden">
                        <input data-bind="value: user.comaddress" placeholder="Company address" type="text">
                    </label>
                </li>
              
       		    <li>
                      <label class="km-label-above km-label-hidden">
                        <input data-bind="value: user.comaddress" placeholder="Work phone" type="text">
                    </label>
                </li>
         		<li>
                      <label class="km-label-above km-label-hidden">
                        <input data-bind="value: user.comaddress" placeholder="Fax number" type="text">
                    </label>
                </li>
				<li>
                      <label class="km-label-above km-label-hidden">
                          <textarea data-bind="value: user.description" placeholder="Company description/ What you do" type="text"></textarea>                 
                      </label>
                </li>
                <li>   </li>
            </ul>
        </li>

    </ul>
          
        </div>
    </form>
</div>