<div data-role="view" data-title="Notification" data-layout="main" data-model="app.notification" data-show="app.notification.onShow" data-after-show="app.notification.afterShow">
    <div id="notificationModel" class="form-view">
        <form>
            <ul class="form-content" data-role="listview" data-style="inset">
                <li>
                    <h1>Welcome from Notification</h1>
                </li>
            </ul>

            <div class="button-group">
            </div>
        </form>
        <!-- START_CUSTOM_CODE_recentworkviewModel -->
        <!-- Add custom code here. For more information about custom code, see http://docs.telerik.com/platform/screenbuilder/troubleshooting/how-to-keep-custom-code-changes -->

        <!-- END_CUSTOM_CODE_recentworkviewModel -->
    </div>

    <!-- START_CUSTOM_CODE_recentworkview -->
    <!-- Add custom code here. For more information about custom code, see http://docs.telerik.com/platform/screenbuilder/troubleshooting/how-to-keep-custom-code-changes -->

    <!-- END_CUSTOM_CODE_recentworkview -->
</div>