<div data-role="view" data-title="Near By" data-layout="main" data-model="app.nearByView" data-show="app.nearByView.onShow" data-after-show="app.nearByView.afterShow">
    <div id="nearByViewModel" class="form-view">
        <form>
            <ul class="form-content" data-role="listview" data-style="inset">
                <li>
                    <h1>Welcome From Near By</h1>
                </li>
            </ul>

            <div class="button-group">
            </div>
        </form>
        <!-- START_CUSTOM_CODE_nearByViewModel -->
        <!-- Add custom code here. For more information about custom code, see http://docs.telerik.com/platform/screenbuilder/troubleshooting/how-to-keep-custom-code-changes -->

        <!-- END_CUSTOM_CODE_nearByViewModel -->
    </div>

    <!-- START_CUSTOM_CODE_nearByView -->
    <!-- Add custom code here. For more information about custom code, see http://docs.telerik.com/platform/screenbuilder/troubleshooting/how-to-keep-custom-code-changes -->

    <!-- END_CUSTOM_CODE_nearByView -->
</div>