<div data-role="view" data-title="Friends List" data-layout="main" data-model="app.friendList">
      <header data-role="header">
        <div data-role="navbar">
            <a id="back-button" class="nav-button" data-align="left" href="components/myPadnas/view.html" data-role="backbutton">Back</a>
             <span data-role="view-title"></span>
        </div>
    </header>
    
    <div id="friendListModel" class="form-view">
        <form>
             <h2>
                 Welcome to Friends List
            </h2>
        </form>
        <!-- START_CUSTOM_CODE_friendListModel -->
        <!-- Add custom code here. For more information about custom code, see http://docs.telerik.com/platform/screenbuilder/troubleshooting/how-to-keep-custom-code-changes -->

        <!-- END_CUSTOM_CODE_friendListModel -->
    </div>

    <!-- START_CUSTOM_CODE_friendList -->
    <!-- Add custom code here. For more information about custom code, see http://docs.telerik.com/platform/screenbuilder/troubleshooting/how-to-keep-custom-code-changes -->

    <!-- END_CUSTOM_CODE_friendList -->
</div>