
<div data-role="view" id="edit-listview" data-layout="main" data-title="My Padnas" data-init="listViewInit">
    <header data-role="header">
        <div data-role="navbar">
<!--              <a id="back-button" class="nav-button" data-align="left" href="components/profile/view.html" data-role="backbutton">Back</a> -->
             <span data-role="view-title"></span>
        </div>
    </header>
 <div class="content-picture">
    <img src="resources/default.jpg" data-responsive id="preview-edit" width="100%"  >
 </div>

      <div data-role="content">
        <div data-role="tabstrip" id="navigation-container">
            <a href="components/myPadnas/view.html" id="capturePhotoButton" data-icon="recents">Recent Work</a>
            <a href="components/profile/view.html" data-icon="edit">Edit Profile</a>
            <a href="components/profile/padnasPhoto.html" data-icon="camera">Photos of you</a>
            <a href="components/friendList/view.html" data-icon="contacts">My Networks</a>
        </div>
<!--            <div id="navigation-container-more" style="display: none"> -->
    </div> 
</div>

    